.text{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0%;
  width: 100%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Javanese Text", sans-serif;
 text-align: center;
}
.text > h1 {
  font-size: 48px;
  font-weight: bold;
}
.text > h2 {
  font-size: 28px;
}


.text > .image > img {
  width: 150px;
  height: 150px;
}
