.add-btn {
    background: #322323;
    border: 1px solid #322323;
    border-radius: 15px;
    font-family: "Rouge Script", sans-serif;
    line-height: 45px;
    width: 15%;
    font-size: 25px;
    color: white;
}

.todo-card {
    margin-bottom: 20px;
    margin-right: 20px;
}


/* .wrapper {
    display: inline-block;
} */


/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */