.add-btn {
    background: #322323;
    border: 1px solid #322323;
    border-radius: 15px;
    font-family: "Rouge Script", sans-serif;
    line-height: 45px;
    width: 35%;
    font-size: 25px;
    color: white;
    vertical-align: middle;
}

.todo-card {
    margin: 20px;
    flex: 1 0 21%;
    display: inline-block;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.is-logged-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    margin-top: 200px;
    font-family: "Javanese Text", "sans-serif";
}

.welcome.text {
    font-weight: 900;
    color: #504141;
    font-size: 35px;
}

.todo-text {
    color: #5e4e45;
    font-size: 28px;
}


/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */