<h1>Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="login_board">
    <input type="text" placeholder="Username" id = "username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && field.username.errors }" />
    <div *ngIf="submitted && field.username.errors" class="invalid-feedback">
      <div *ngIf="field.username.errors.required">Username is required</div>
    </div>
    <input type="password" placeholder="Password" id = "password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && field.password.errors }" />
    <div *ngIf="submitted && field.password.errors" class="invalid-feedback">
      <div *ngIf="field.password.errors.required">Password is required</div>
    </div>
    <button id = "login" [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Login
    </button>
  </div>
</form>

