:host {
    display: flex;
    flex-direction: column;
}

.buttons {
    float: right;
}

.form {
    display: flex;
    flex-direction: column;
}

::ng-deep .mat-dialog-container {
    background-color: #d6c7bf;
}

h1 {
    font-family: "Rouge Script", sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.create-btn {
    background-color: #504141;
    border-radius: 10px;
    color: #ffffff;
    font-size: 25px;
    font-family: "Rouge Script", sans-serif;
    margin-right: 20px;
}

.cancel-btn {
    background-color: #504141;
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
    font-family: "Rouge Script", sans-serif;
}