div.movie-page {
    width: 100%;
}

div.info {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding: 30px;
    color: black;
    font-size: 25px;
    text-align: center;
    font-family: "Javanese Text", "sans-serif";
}

div.details {
    background-color: #d4c4bc;
    opacity: 85%;
    font-size: 25px;
    color: white;
}

label {
    font-weight: bold;
    color: #504141;
    font-size: 35px;
}

.menu-btn {
    border-radius: 10px;
    border: none;
    background-color: #322323;
    color: #FFFAFA;
    outline: none;
    cursor: pointer;
    float: right;
    margin-right: 300px;
    font-family: "Javanese Text", sans-serif;
}

.save-to-main-page-btn {
    background: #322323;
    border: 1px solid #322323;
    border-radius: 15px;
    font-family: "Rouge Script", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
    width: 40%;
    height: 8.5%;
    color: white;
}

::ng-deep .mat-menu-content {
    background: #322323;
    opacity: 0.6;
}

.mat-menu-item {
    font-family: "Javanese Text", sans-serif;
    color: #ffffff;
}