<div class="movie-page">
    <div class="info">
        <img [src]="result.movie[0].Poster">
    </div>
    <div class="info">
        <div class="details">
            <div class="title">
                <label>Title</label>
                <div>{{result.movie[0].Title}}</div>
            </div>
            <div class="year">
                <label>Year</label>
                <div>{{result.movie[0].Year}}</div>
            </div>
            <div class="actors">
                <label>Actors</label>
                <div>{{result.movie[0].Actors}}</div>
            </div>
            <div class="runtime">
                <label>Runtime</label>
                <div>{{result.movie[0].Runtime}}</div>
            </div>
            <div class="genre">
                <label>Genre</label>
                <div>{{result.movie[0].Genre}}</div>
            </div>
            <div class="plot">
                <label>Plot</label>
                <div>{{result.movie[0].Plot}}</div>
            </div>
        </div>
        <button mat-button class="menu-btn" [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addToWatch()">To watch</button>
            <button mat-menu-item (click)="addToContinue()">Continue</button>
            <button mat-menu-item (click)="addToAlreadyWatched()">Already watched</button>
        </mat-menu>
    </div>


</div>