<mat-toolbar class="navbar">
    <div class="logo"><img src="assets/images/logo_kicsi.jpg" href="/home" width="172.8" height="42.24"></div>
    <a mat-button (click)="navigate_home()">Home<i class="fas fa-home"></i></a>
    <a mat-button (click)="navigate_movies()">Movies<i class="fas fa-film"></i></a>
    <a mat-button (click)="navigate_mypage()">My Page<i class="fas fa-list-ul"></i></a>
    <div class="navbar-right">
        <button (click)="navigate_logout()">Logout</button>
        <button (click)="navigate_myprofile()">My Profile</button>
    </div>
</mat-toolbar>